* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(235, 186, 219, 0.63);
    background-image: url(../images/iconoPestañafondo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navBar {
    border-bottom: 10px double rgb(255, 162, 224);
    box-shadow: 0 15px 20px -3px darkred;
    text-align: center;
    
}

nav.navbar {
    background-image: url(../images/fondoNav.png);
    background-color: rgb(255, 192, 240);
    background-position: top;
    background-size: 65%;
    text-align: center;
}

.navbar-collapse  {
    justify-content: end;
}





h1 {
    font-family: 'Alfa Slab One', cursive;
    color: darkred;
    justify-content:center;
    text-align: center;
}
.card h5 {
    text-align: center;
    font-weight: 1000;
    background-color: rgba(255, 192, 240, 0.23);
}

#precio {
    text-align: center;
    background-color: rgba(255, 192, 240, 0.23);
}

.container {
    display: grid;
    grid-template-rows: 0.25fr, 1.75fr;
    justify-content: center;
}

.carrusel {
    display: inline-block;
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin-top: 2%;
    box-shadow: 0 15px 20px -3px darkred;
}
.carousel-inner {
    width: 100%;
    height: auto;
    justify-content: center;
}

.info {
    background-color: rgba(255, 192, 240, 0.63);
    margin: 2%;
    border: 10px double rgb(255, 162, 224);
    display: grid;
    grid-row: 2/3;
    box-shadow: 0 15px 20px -3px darkred;
}
.info h2 {
    text-align: center;
    margin: 2%;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}
.presentacion {    
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: larger;
    color: darkred;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    justify-content: center;
    justify-content: space-around;
    margin: 2%, auto;
}
.card {
    background-color: rgb(255, 192, 240);
    width: auto;
    height: auto;
    padding: 2%;
    box-shadow: 0 15px 20px -3px darkred;
    font-weight: 700;
}
.card img {
    width: 275px;
    height: 206px;
}
.card-text {
    background-color: rgba(255, 192, 240, 0.23);
}
.btn {
    background-color: rgb(255, 162, 224);
    border-color: rgb(222, 134, 153);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.btn:active {
    background-color: pink;
}
.btn:hover {
    background-color: pink;
}
.card1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 2%;
}
.card2 {
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 2%;
}
.card3 {
    display: grid;
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 2%;
}
.card4 {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 2%;
}
.card5 {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 2%;
}
.card6 {
    display: grid;
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 2%;
}
.card7 {
    display: grid;
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 2%;
}
.card8 {
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 2%;
}
.card9 {
    display: grid;
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 2%;
}

.ig {
    display: flex;
    position: sticky;
    height: auto;
    width: auto;
    
}
.ig img {
    width: auto;
    height: auto;
    
}
.carrito {
    display: flex;
    flex-direction:column;
    margin-left: 94.5%;
    height: 1px;
    width: 1px;
    justify-content: end;
    align-items: center;
    position: sticky;
    bottom: 5px;
}
.carrito img {
    width: auto;
    height: auto;
}

.btn-primary {
    box-shadow: -2px 2px 3px 1px darkred;
}

.btn-carrito {
    box-shadow: 0 15px 20px -3px darkred;
}


.finCompra {
    margin-bottom: 5%;
    box-shadow: -2px 2px 3px 1px darkred;
    font-weight: 900;
    color: darkred;
}

.deleteProduct {
    height: 30px;
    width: 30px;
    color: darkred;
    box-shadow: -2px 2px 3px 1px darkred;
    margin-bottom: 5%;

}
.item {
    border: 3px solid darkred;
    border-radius: 5%;
    background-image: url(../images/iconoPestañafondo.png);
    background-size: cover;
    padding: 5px;
    margin: 2px;
}