* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(235, 186, 219, 0.63);
    background-image: url(../images/iconoPestañafondo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navBar {
    border-bottom: 10px double rgb(255, 162, 224);
    box-shadow: 0 15px 20px -3px grey;
}

nav.navbar {
    background-image: url(../images/fondoNav.png);
    background-color: rgb(255, 192, 240);
    background-position: top;
    background-size: 65%;
}
.collapse {
    justify-content: end;
    font-family: 'Alfa Slab One', cursive;
    font-size: x-large;
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    color: darkred;
    justify-content:start;
}

.container {
    display: grid;
    grid-template-rows: 0.25fr, 1.75fr;
    justify-content: center;
}

.carrusel {
    display: inline-block;
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin-top: 2%;
}
.carousel-inner {
    width: 100%;
    height: auto;
    justify-content: center;
}

.info {
    display: grid;
    grid-row: 2/3;
}
.info h2 {
    text-align: center;
    margin: 2%;
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
}
.presentacion {
    background-color: rgba(255, 192, 240, 0.63);
    margin: 2%;
    border: 10px double rgb(255, 162, 224);
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: larger;
    color: darkred;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    justify-content: center;
    justify-content: space-around;
    margin: 2%, auto;
}
.card {
    background-color: rgb(255, 192, 240);
    width: auto;
    height: auto;
    padding: 2%;
    box-shadow: 0 15px 20px -3px grey;
}
.btn {
    background-color: rgb(255, 162, 224);
    border-color: rgb(222, 134, 153);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.card1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 2%;
}
.card2 {
    display: grid;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 2%;
}
.card3 {
    display: grid;
    grid-row: 1/2;
    grid-column: 3/4;
    margin: 2%;
}
.card4 {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 2%;
}
.card5 {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    margin: 2%;
}
.card6 {
    display: grid;
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 2%;
}
.card7 {
    display: grid;
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 2%;
}
.card8 {
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 2%;
}
.card9 {
    display: grid;
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 2%;
}
.footer {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 20px;
    margin: 1% ;

    justify-content: space-between;
    height: auto;
    width: auto;
}
.ig {
    display: flex;
    position: sticky;
    bottom: 20px;
    margin-right: 1%;
    justify-content: end;
    height: auto;
    width: auto;
    
}
.ig img {
    width: 75px;
    height: 75px;
    
}
.carrito {
    display: flex;
    position: sticky;
    bottom: 20px;
    margin-left: 1%;
    justify-content: start;
    height: auto;
    width: auto;
}
.carrito img {
    width: 75px;
    height: 75px;
}
.formulario {
    background-color: rgba(255, 192, 240, 0.63);
    display: flex;
    margin: 2% auto;
    padding: 1%;
    border: 10px double rgb(255, 162, 224);
    width: 50%;
    align-items: center;
    justify-content: center;
}

/* #formularioPedidos {
    width: 100%;
} */